<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
		{% include "assets/js/jquery-3.5.1.min.js" %}
        {% include "assets/js/bootstrap.bundle.min.js" %}
        {% include "assets/js/jquery.easing.min.js" %}
        {% include "assets/js/scrollspy.min.js" %}
        {% include "assets/js/owl.carousel.min.js" %}
        {% include "assets/js/owl.init.js" %}
        {% include "assets/js/slick.min.js" %}
        {% include "assets/js/slick.init.js" %}
        {% include "assets/js/feather.min.js" %}
        {% include "assets/js/switcher.js" %}
        {% include "assets/js/app.js" %}
	</body>

</html>
